div, span, textarea, input {
	padding: 0px;
	margin: 0px;
	display: block;
	box-sizing: border-box;
}

.clearfix {}
.clearfix:after {
	content: '';
	clear: both;
	display: block;
}
.clearer {
	clear: both;
}

.chat {
	min-width: 940px;
}

#map-wrapper {
	/* this was removed to show the ability to scale */
	/*width: 910px;*/
	height: 700px;
	position: relative;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}
#map {
	width:100%;
	height: 100%;
}

.chat_window, .chat_members {
	border: 1px solid #ddd;
	box-sizing: border-box;
}

#chat_form {
	padding: 10px 0px;

}

.chat_window {
	display: block;
	margin-right: 10px;
	float: left;
	width: 700px;
	height: 200px;
	padding: 10px;

	counter-reset: message;

	overflow-y: scroll;
}
.chat_members {
	display: block;
	float: left;
	width: 200px;
	height: 200px;
}

.member {
	line-height: 25px;
  	padding-left: 10px;
}

.chat_input {
	display: block;
	float: left;
	width: 700px;
	margin-right: 10px;
}
.chat_submit {
	display: block;
	float: left;
	width: 200px;
}


.message {

}
.message:before {
	content: counter(message) ". ";
	counter-increment: message;
}
.message.error { color: red; }
.message.join { color: green; }
.message.leave { color: orange; }
.message.me { font-weight: bold; }

.framerate {
	position: absolute;
	top: 20px;
	right: 20px;
}