<!DOCTYPE html>
<html>
<head>
    <script src="/assets/js/map_object.js"></script>
    <script src="/assets/js/drawer.js"></script>
    <script src="/assets/js/drawer_test.js"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body onload="onLoad();">
<div class="main-wrapper">
    <div id="map-wrapper">
        <canvas id="map" width="600" height="500"></canvas>
    </div>
</div>
</body>
</html>