<!DOCTYPE html>
<html>
<head>
    <script src="/assets/js/functions.js"></script>
    <script src="/assets/compiled/drawable_object_layer.js"></script>
    <script src="/assets/compiled/drawable_object.js"></script>
    <script src="/assets/compiled/time_drawer.js"></script>
    <script src="/assets/compiled/drawer.js"></script>
    <script src="/assets/js/viewport.js"></script>
    <script src="/assets/js/drawer_test.js"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <style>
        .panel {
            z-index: 10;
            display: block;
            position: fixed;
            top: 20px;
            right: 20px;
            background: rgba(255, 255, 255, 0.5);
            border: 1px solid #ccc;
            min-width: 300px;
            box-shadow: 0 0 10px 0 #ccc;
            padding: 10px;
        }

        .panel pre {
            font-size: 12px;
            line-height: 14px;
            padding: 0;
            background: none;
        }
    </style>
</head>
<body onload="onLoad();">
<div class="panel">Viewport:
    <pre id="viewportSize"></pre>
    Mouse:
    <pre id="mouseCoords"></pre>
</div>
<div class="main-wrapper">
    <div id="map-wrapper">
        <canvas id="map" width="600" height="500"></canvas>
    </div>
</div>
</body>
</html>