<!DOCTYPE html>
<html>
	<head>
        <script
                src="/assets/js/jquery-3.3.1.slim.min.js"
                integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
                crossorigin="anonymous"></script>
        <script src="/assets/js/functions.js"></script>
        <script src="/assets/compiled/client/ws_client.js"></script>
        <script src="/assets/compiled/game_state.js"></script>
        <script src="/assets/compiled/input_controller.js"></script>
        <script src="/assets/compiled/drawables/sprite.js"></script>
        <script src="/assets/compiled/drawables/drawable_object_layer.js"></script>
        <script src="/assets/compiled/drawables/particle_layer.js"></script>
        <script src="/assets/compiled/drawables/drawable_object.js"></script>
        <script src="/assets/compiled/drawables/time_drawer.js"></script>
        <script src="/assets/compiled/drawables/drawer.js"></script>
        <script src="/assets/js/viewport.js"></script>
        <script src="/assets/compiled/main.js"></script>

		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/assets/css/style.css">
	</head>
	<body>
		<div class="panel help-panel">
			<div class="playerName"></div>
			<div>
				<span class="latency">Lat: <span class="value"></span></span>
				<span class="timeCorrection">time correction: <span class="value"></span></span>
                <span class="simulationMode">simulation mode: <span class="value"></span></span>
            </div>
			<a href="#" class="btn btn-default btn-sm drawButton btn-disabled">Draw</a>
            <a href="#" class="btn btn-default btn-sm autoDrawButton btn-disabled">Auto draw</a>
			<br/>
            <a href="#" class="btn btn-default btn-sm changeSimulationMode">Change simulation mode</a>
			<a href="#" class="btn btn-primary btn-sm simulateButton">Simulate! (Space)</a>
			<div class="clearfix">
				<a href="#" class="btn btn-default btn-sm floatingButton" data-x="-1" data-y="+1">&#8598;</a>
				<a href="#" class="btn btn-default btn-sm floatingButton" data-x="+0" data-y="+1">&#8593;</a>
				<a href="#" class="btn btn-default btn-sm floatingButton" data-x="+1" data-y="+1">&#8599;</a>
				<a href="#" class="btn btn-default btn-sm floatingButton" data-x="-1" data-y="+0" style="clear: left;">&#8592;</a>
				<a href="#" class="btn btn-default btn-sm floatingButton centerButton" data-x="+0" data-y="+0">C</a>
				<a href="#" class="btn btn-default btn-sm floatingButton" data-x="+1" data-y="+0">&#8594;</a>
				<a href="#" class="btn btn-default btn-sm floatingButton" data-x="-1" data-y="-1" style="clear: left;">&#8601;</a>
				<a href="#" class="btn btn-default btn-sm floatingButton" data-x="+0" data-y="-1">&#8595;</a>
				<a href="#" class="btn btn-default btn-sm floatingButton" data-x="+1" data-y="-1">&#8600;</a>
			</div>
			<div>
				<span class="btn btn-default btn-sm zoomIn">ZoomIN</span>
				<span class="btn btn-default btn-sm zoomOut">ZoomOUT</span>
			</div>
			<a href="#" class="btn btn-default btn-sm reloadButton">RELOAD</a>
            <a href="#" class="btn btn-default btn-sm chatToggler">Show/hide chat</a>
		</div>

		<div class="main-wrapper">
			<div id="map-wrapper">
				<canvas id="canvas" width="600" height="500"></canvas>
			</div>

			<!--<div class="widthSeparator"></div>-->
			<div id="chat" style="display: none;">
				<div class="chat_window"></div>
				<div class="chat_members"></div>

				<div class="clearer"></div>

				<form id="chat_form" class="clearfix">
					<input class="chat_input form-control" type="text" name=""/>
					<input class="chat_submit btn btn-default" type="submit"/>
				</form>
			</div>
		</div>
	</body>
</html>